<div class="card text-center">
    <div class="card-header">
      :)
    </div>
    <div class="card-body">

      <h5 class="card-title">Welcome!  </h5>
      <p class="card-text">Ready for a leader?</p>

<ul class="list-group list-group-flush">
<li class="list-group-item">Technical Trainer</li>
<li class="list-group-item">Experienced Presentations</li>
<li class="list-group-item">Project Management Background</li>
</ul>

      <a href="/about" class="btn btn-primary">Find out more!</a>

    </div>
</div>