
<div class="card-group">
  <div class="card">
    <img src="/Assets/images/project1.png" class="card-img-top" alt="An ethical review app">
    <div class="card-body">
      <h4 class="card-title">The Ethiccal Review App</h4>
      <p class="card-text">Currently working on a mock up of an ethical review application in my SDD class.</p>
    </div>
  </div>

  <div class="card">
    <img src="/Assets/images/project2.png" class="card-img-top" alt="The mission statement of a Book Match App">
    <div class="card-body">
      <h4 class="card-title">Book Match App</h4>
      <p class="card-text">A Book Match application that would help users find new books to read. Documentation mocked up last semester.</p>
    </div>
  </div>

  <div class="card">
    <img src="/Assets/images/project3.png" class="card-img-top" alt="A homebrew DnD campaign landing page.">
    <div class="card-body">
      <h4 class="card-title" >Dnd Homebrew Campaign Page</h4>
      <p class="card-text">As a part time student, I don't have as many projects in the works. However, I'm currently running a Homebrewed DnD campaign. This is the title image and page for the information about that world!</p>
    </div>
  </div>
</div>