<div class="card text-center">
    <div class="card-header">
      Service Details
    </div>
    <div class="card-body">

      <h5 class="card-title">Services Available:</h5>

<ul class="list-group list-group-flush">
<li class="list-group-item">Presentation Assistance. </li>
<li class="list-group-item">Documentation Tutoring</li>
<li class="list-group-item">Basic Programming Assistance: C#, html, css, JS, SQL</li>
</ul>

    </div>
</div>