<div class="card text-center" style="width: 40rem; margin-left: auto; margin-right: auto">
  <img src="/Assets/images/selfie.jpg" class="card-img-top" alt="An image of a red haired woman.">
  <div class="card-body">
    <h1 class="card-title">Katherine Bowie</h1>
    <p class="card-text ">
    Katherine is currently a student of Software Engineering Technology (part time). She also works full time as a Technical trainer at Icicletechnologies. 
    She hopes to one day transfer her skills into the dev world, either as managing dev teams or being a developer herself. 
    She believes that software engineering is where the future lies.</p>
    <a href="/Assets/Content/Profile.pdf" class="btn btn-primary" download>Download  Katherine's Resume</a>
  </div>
</div>